<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/39c11bbb-3457-4d14-b8be-e68ff75b2e3d/resourceGroups/logbook_group/providers/Microsoft.Web/sites/yacht-harbour20230223172841</ResourceId>
    <ResourceGroup>logbook_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://yacht-harbour20230223172841.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>1533b8df-f3e8-4119-96b1-6f23cba437b2</ProjectGuid>
    <PublishUrl>https://yacht-harbour20230223172841.scm.azurewebsites.net/</PublishUrl>
    <UserName>$yacht-harbour20230223172841</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>